/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px 20px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center; /* Center align content */
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block; /* Ensure labels are on their own line */
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px; /* Adjust spacing between fields */
}

button {
  padding: 10px 15px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #2e2c2c;
}
